body{
	font-size: 12pt;
	color: #006600;
}
h1{
	font-size: 18pt;
	font-weight: bold;
	background-color: #66aa66;
	color: #ccffcc;
	padding: 3px;
}
tr{
	background-color: #66aa66;
	color: white;
    font-weight: bold;
    font-align: center;
    padding: 2px 10px 2px 10px;
}
td{
    background-color: #ccffcc;
    color: #003300;
    padding: 2px;
}